.header {
  text-align: center;
  margin: 100px;
}
.body-content {
  text-align: center;
  font-size: 15px;
}
.service-items {
  height: 424px;
  margin: 20px;
}
.service-item-image {
  display: block;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 262.5px;
  height: 174.75px;
  border-radius: 10px;
}
.img-hover-effect {
  transform: scale(0.75);
}
.img-hover-effect:hover {
  transform: scale(0.85);
  transition: transform 0.5s ease-in-out;
}
.btn {
  border: 1px solid red;
  color: black;
  padding: 8px 16px;
  border-radius: 0;
}
.btn:hover {
  background-color: red;
  color: white;
}
